
/*aki comeca o cabcalho*/
.cabecalho{
    background-color: #333;
    border-bottom: solid 5px #84d627;
    height: 80px;
    box-sizing: content-box;
}
h1.logo{
    color: white;
    display: inline-block;
    margin: 20px 50px;
}
div.spell{
    color: black;
    background-color: #84d627;
    border-radius: 3px;

}
.menu-toggle{
    float:right;
    color:white;
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}
.menu{
    display: inline-block;
    vertical-align: top;
    height: 80px;
}
.menu li{
    display:inline-block;
}
.cabecalho a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 15px;
}
.menu a{
    padding: 15px;

}

.autenticacao {
    float:right;
    height: 80px;
    padding: 25px;
}

menu a:hover,
.menu a.selected{
    background-color: #84d627;
}
.botao{
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
}
.destaque{
    background-color: red;
    color: white;
}
@media(min-width:679px) {
.menu-toggle {
    display: none;
}
}
@media(max-width: 680px){
    .menu{
        display: none;

    }
}
/*ate aki fica o cabeçalho*/

img{
    width: 50%;
    height: 50%;
    margin-left: 690px;
    margin-bottom: px;
}


/*estilo texto em geral comeca aki*/
h1{
    font-size: 25pt;
    margin: 80px 0px 0px 100px;
}
h2{
    font-size: 15pt;
    margin: 30px 0px 0px 100px;
}
h3{
    width: ;
}
h3.colaboradores{
    font-size: 20pt;
    margin: 100px auto 50px 800px;
}
p{
    background-color: #4d2411;
    padding: 10px;
    border: 5px solid #160803;
    box-shadow: 10px 1px 5px 4px;
    text-align: justify;
    color: white;
    margin: 10%;
}
p.missao{

}
p.colaboradores{
    margin:  0px 30px;
}
/*estilo texto em geral termina aki*/

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Oswald", sans-serif;
    background-color: rgb(88, 53, 42);
}
section#corpo{
    display: block;
    width: 60%;
    float: left;
    border-right: 1px solid #606060;
}
div{
    display: block;
    width: 40%;
    float: right;
}

/* tabela comeca aki */
table#tabela{
    border: 1px solid #20100b;
    border-spacing: 5px;
    margin-left: 800px;
}

table#tabela td
    {border: 1px solid #20100b;
    padding: 10px;
    text-align: center;
    vertical-align: middle;}

table#tabela td.ce
    {color: #ffffff;
    background-color: #6c3217;}

table#tabela td.cd
    {background-color: #945c31;}
/* tabela termina aki */


/* #ffa600 cor do pornhub pra mudar a cor do cabecalho caso meu gurpo tope*/
