
/*aki comeca o cabcalho*/
.cabecalho{
    background-color: #333;
    border-bottom: solid 5px #84d627;
    height: 80px;
    box-sizing: content-box;
    position: sticky;
    top: 0px
}
h1.logo{
    color: white;
    display: inline-block;
    margin: 20px 50px;
}
.spell{
    color: black;
    background-color: #84d627;
    border-radius: 3px;
    display: block;
    width: auto;
}

.menu{
    display: inline-block;
    vertical-align: top;
    height: 80px;
    margin-left: 15%;
}
.cabecalho a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 15px;
}

.autenticacao {
    float:right;
    height: 80px;
    padding: 25px;
}

    /* aki comeca os botoes do cabecalho */
.menu li{
    display:inline-block;
    margin: 3px;
}
.menu a:hover {
    background-color: #84d627;
    transition: background-color 1s;
}
.menu a:active {
    background-image: url("imagens/chocolate2.png");
}

.registrar{
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
    background-color: red;
    color: white;
}
    /* aki termina os botoes do cabecalho */

/*ate termina o cabeçalho*/

img{
    height: 90%;
    margin-top: 85px;
    margin-left: -436px;
    position: absolute;
    top: 0px;
}


/*estilo texto em geral comeca aki*/
h1{
    color: #84d627;
    font-size: 25pt;
    margin: 1% 0px 0px 12%;
}
h2{
    color: #84d627;
    font-size: 15pt;
    margin: 5% 0% 0px 12%;
}
h3.colaboradores{
    color: #84d627;
    font-size: 20pt;
    margin: 3% auto 50px 66%;
}
p{
    background-color: #4d2411;
    padding: 10px;
    border: 5px solid #160803;
    box-shadow: 10px 1px 5px 4px #84d627;
    text-align: justify;
    color: white;
    margin: 10%;
}
p.colaboradores{
    margin:  0px 30px;
}
/*estilo texto em geral termina aki*/


body{
    margin: 0;
    font-family: "Oswald", sans-serif;
    background-color: rgb(88, 53, 42);
}
section#corpo{
    display: block;
    width: 60%;
    float: left;
    border-right: 1px solid #606060;
}
div{
    display: block;
    width: 40%;
    float: right;
}

/* tabela comeca aki */
table#tabela{
    border: 1px solid #20100b;
    border-spacing: 5px;
    margin-left: 65%;
}

table#tabela td
    {border: 1px solid #20100b;
    padding: 10px;
    text-align: center;
    vertical-align: middle;}

table#tabela td.ce
    {color: #ffffff;
    background-color: #6c3217;}

table#tabela td.cd
    {background-color: #945c31;}
/* tabela termina aki */













/* #ffa600 cor do pornhub pra mudar a cor do cabecalho caso meu gurpo aceite*/
