
/*Aqui começa o cabeçalho*/
.cabecalho{
    background-color: #333;
    border-bottom: solid 5px #84d627;
    height: 80px;
    box-sizing: content-box;
}
/* Estilo da logo, como se comportara com os outros boxes, mais a margem */
h1.logo{
    color: white;
    display: inline-block;
    margin: 20px 50px;
}
/* estilo da palavra spell */
div.spell{
    display: inline-block; /*Medida necessaria para nao criar confusao com outros boxes*/
    color: black;
    background-color: #84d627;
    width: 70px; /*Largura do quadrado*/
    height: 40px; /*Altura do quadrado, mas somente aumenta na parte de baixo*/
    border-radius: 10px; /*Edita o tamanho do box verde em relacao as bordas*/

}
/* Estilizacao do menu, e criacao de flex-boxes */
.menu{
    display: inline-block; /**/
    vertical-align: top; /*Alinhamento para ficar no tpo*/
    height: 80px;
}
.menu li{
    display:inline-block; /*usado para manter o espaçamento*/
}
/*Edite do cabecalho, foi necessario o none para o texto ficar comum, mas pode alterar a fonte*/
.cabecalho a { 
    text-decoration: none;
    color: rgb(255, 242, 242);
    font-size: 1.3em;
    padding: 15px;
}
/* toda classe menu, que tive o elemento a, tera a seguinte configuracao, para adicionar maior espaco às opções do cabecalho*/
.menu a{
     padding: 25px; /*aumentando aqui, vai aumentar o tamanho da caixa verde */

}
/*Localização, tamanho do box*/
.autenticacao {
    float:right;
    height: 80px;
    padding: 25px;
}

/* Configuracao do botao de registrar */
.botao{
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
}
.destaque{
    background-color: red;
    color: white;
}
/*Aqui  termina as config do cabeçalho*/

/*Configuracao do chocolate escorrendo na borda*/
.chocolateEscorre{
    width: 50%;
    height: 50%;
    margin-left: 690px;
    margin-bottom: px;
}


/*estilo texto em geral comeca aki*/
h1{
    font-size: 25pt;
    margin: 80px 0px 0px 100px;
}
h2{
    font-size: 15pt;
    margin: 30px 0px 0px 100px;
}
/* h3{
    width: ;
} */
h3.colaboradores{
    font-size: 20pt;
    margin: 100px auto 50px 800px;
}
p{
    background-color: #4d2411;
    padding: 10px;
    border: 5px solid #160803;
    box-shadow: 10px 1px 5px 4px;
    text-align: justify;
    color: white;
    margin: 10%;
}
/* adicionar estilo, box da parte da nossa missao */
/* p.missao{

} */
p.colaboradores{
    margin:  0px 30px;
}
/*estilo texto em geral termina aki*/

*{
    box-sizing: border-box;
}
/* Adiciona a posicao no corpo , margem 0 colocaria os objetos em seus respectivos lados, por exemplo o cabeçalho deve ficar em cima, sem margem */
body{ 
    /* 0 margem para os itens ficarem colados */
    margin: 0; 
    background-color: rgb(88, 53, 42);
}
/*Necessario para o comportamento entre as boxes*/
section#corpo{
    display: block;
    width: 60%;
    float: left;
    border-right: 1px solid #606060;
}
/* Adicionar mais itens que garantem o espaçamento, caso nao precise, deixe desse jeito, o div so decidira a cor do cabeçalho */
div{
    /*Sera necessario inline para manter a imagem dentro do cabecalho, e o block sera para fazer o espaco da logo funcionar*/
    display: inline-block; 
    /*Aqui definimos a largura da caixa*/
    width: 40%;
 }

/* tabela comeca aki */
table#tabela{
    /* borda da tabela, espaco, e a margem */
    border: 1px solid #20100b; 
    /* o espaco entre a os elementos para manter a organizacao do site */
    border-spacing: 5px;
    margin-left: 800px;
}

/* box contendo o nome dos colaboradores */
table#tabela td 
    {border: 1px solid #20100b;
    padding: 10px;
    text-align: center;
    vertical-align: middle;}

table#tabela td.ce
    {color: #ffffff;
    background-color: #6c3217;}

table#tabela td.cd
    {background-color: #945c31;}
/* tabela termina aki */


/* #ffa600 cor do pornhub pra mudar a cor do cabecalho caso meu grupo tope. Aham, sei...😂*/
