@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Montserrat&display=swap');

/*aqui comeca o cabcalho*/
.cabecalho {
    z-index: 100;
    background-color: #333;
    border-bottom: solid 5px #84d627;
    height: 80px;
    box-sizing: content-box;
    position: sticky;
    top: 0px
}

h1.logo {
    color: white;
    display: inline-flex;
    margin: 20px 50px;
    width: 200px;
    height: 50px;
}

.spell {
    color: black;
    background-color: #84d627;
    border-radius: 3px;
    display: block;
    width: auto;
    display: block;
    width: 40%;
    float: right;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    margin-left: 5%;
}

.cabecalho a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 15px;
}

.autenticacao {
    float: right;
    height: 80px;
    padding: 25px;
}

/* aki comeca os botoes do cabecalho */
.menu li {
    display: inline-block;
    margin: 3px;
}

.menu a:hover {
    background-color: #84d627;
    transition: background-color 1s;
}

/* aki termina os botoes do cabecalho */

/*ate termina o cabeçalho*/


div.bloco {                 /*bloco referente a pagina "quem-somos-nos.html"*/
    background-color: #4d2411;
    padding: 10px;
    border: 5px solid #160803;
    box-shadow: 10px 1px 5px 4px #84d627;
    text-align: justify;
    color: white;
    margin: 5% 20% 7% 20%;
    text-indent: 20px;
}


/*estilo texto em geral comeca aki*/
h1 {
    color: #84d627;
    font-size: 25pt;
    margin: 3% 0px 10% 10%;
}

h2.colaborador {
    color: #84d627;
    font-size: 20pt;
    margin: 0% 0px 4% 10%;
}

h3.colaboradores {
    color: #84d627;
    font-size: 20pt;
    margin: 3% auto 50px 66%;
}

/*p {            nao tem nada estilizado aki

}*/

/*estilo texto em geral termina aki*/

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    background-color: rgb(88, 53, 42);
}


/* estilizacao do q fica do lado da tabela em colaboradores.html */

/* aki começa as imagens dos colaboradores, o titulo cocogoat*/
.apresentacao {
    position:relative;
    
}

.imagemapresentacao {
    
    height: 0px;
    margin-left: 70px;
}

.ColaboradoresCocoGoat {
    
    text-align: center;
    }

.borderCocogoat {
    
    margin-left: 62px;
    width: 370px;
    height: 90px;
    border-style:double ;
    border-color: rgb(226, 151, 203) ;
    border-radius: 30px;

}

.ColaboradoresCocoGoat a {
    margin: 0%;
    color: rgb(255, 255, 255);
} 

.ColaboradoresCocoGoat h1 {
    
    margin: 2%;
    margin-right: 10%;
    font-style: normal;
    font-weight: 1;
    font-size: 68px;
    font-family: 'Meow Script', 'Montserrat', sans-serif;
       color: #00FF47;
}
.descricaoColaborador{
    margin: 2px 2px 2px 2px;
    font-size: 25px;
    color: white;
    font-family: 'Meow Script', 'Montserrat', sans-serif;
}
/* terminou sa bagaca */


/* tabela comeca aki */
table#tabela {
    border: 1px solid #20100b;
    border-spacing: 5px;
    margin-left: 65%;
}

table#tabela td {
    border: 1px solid #20100b;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#tabela td.ce {
    color: #ffffff;
    background-color: #6c3217;
}

table#tabela td.cd {
    background-color: #945c31;
}

/* tabela termina aki */

/* rodape comeca aki */
footer#rodape {
    clear: both;
   /*border-top: 1px solid #606060; achei visualmente mais bonito sem essa borda */ 
}

footer#rodape p {
    text-align: center;
    margin-top: 15px;
}

hr {
    margin-top: 100px;
}
p.rodape {
    background-color: rgb(88, 53, 42);
    box-shadow: none;
    border: none;
}

img.redesocial {
    width: 3%;
    margin: 1% 1% 0% 0%;
}

#rodape a.colaborador {
    color: black;
}

/* rodape termina aki */





/*Aqui começa o Formulário*/


/*Centralização do meu formulário*/
.containerForm {
    /*Distancia lateral*/
    margin-left: 100px;
    /*Distancia do topo*/
    margin-top: 40px;
    /*Cor de fundo*/
    background-color: #636363;
    /*Deixando o contato e o form alinhado*/
    display: flex;
    /*Tamanho horizoltal do container*/
    width: 1200px;
    /*Tamanho vertical*/
    height: 550px;
    /*arredondando a borda*/
    border-radius: 70px;
    /*Fonte*/
    font-family: 'Noto Sans Mono', monospace;
    /*Sombra lateral braba*/
    box-shadow: 6px 6px 6px black;
}

/*Tamanho do meu box esquerdo*/
.contato {
    /*Distancia do topo do conteiner*/
    margin-top: 10px;
    /*Distancia lateral*/
    margin-left: 2.5%;
    /*Largura da box*/
    width: 600px;
}

/*Tamanho do meu box direito*/
.form {
    /*Distancia do topo do conteiner*/
    margin-top: 10px;
    /*Distancia lateral*/
    margin-left: 12%;
    /*Largura da box*/
    width: 600px;
}

/*Tamanho do h1*/
.form h1 {
    margin-left: 1px;
    font-size: 35px;
}

/*Tamanho e distanciamento do h1*/
.contato h1{
    margin-left: 10px;
    font-size: 35px;
    margin-bottom: 10px;
}

/*Tamanho e distanciamento do h2*/
.contato h2{
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 20px;
}

/*Tamanho da fonte do endereço*/
#endereço{
    
    font-size: 20px;
}

/*Tamanho do link para contato*/
.contato a{
    font-size: 20px;
}




/*Estilização da label*/
label {
    /*Tamanho vertical*/
    height: 30px;
    /*distancia das minhas labels*/
    margin-top: 13px;
    /*Disply para as labels ficarem na vertical*/
    display: flex;
    /*Tamanho da fonte*/
    font-size: 17px;
}


/*Estilizando input e textarea*/
input,
textarea {
    background-color: transparent;
    /*borda*/
    border: 2px solid black;
    /*tirando a borda de cima e da esquerda*/
    border-top: none;
    border-left: none;
    /*Tamanho*/
    width: 380px;
    padding: 12px;
}

/*Cor do placeholder*/
input::placeholder {
    /*Tamanho do placeholder*/
    font-size: 15px;
    /*Cor*/
    color: rgba(245, 245, 245, 0.500);
}

/*Cor do placeholder*/
textarea::placeholder {
    /*Tamanho do placeholder*/
    font-size: 15px;
    /*Cor*/
    color: rgba(245, 245, 245, 0.500);
}

/*Cor e tamanho do botão*/
button {
    /*Cor da fonte*/
    color: #84d627;
    /*Cor de fundo*/
    background-color: black;
    /*Distancia do topo*/
    margin-top: 10px;
    /*Tamanho*/
    height: 30px;
    width: 60px;
}


/*Tirando sublinhado do link do contato*/
.contato a {
    text-decoration: none;
    color: black;
}


button:hover {
    background-color: rgb(12, 12, 12);
}


/* Tamanho e localização da imagem*/
.contato img {
    position: static;
    margin-left: 150px;
    height: 300px;
    width: 410px;
}

.contato address {
    font-size: 18px;
}

/*Aqui termina o Formulário*/


/* aki comeca o banner */

.container
{
   margin: 5% 0% 0% 2%;
   padding: 0% 0% 0% 0%;
   width: 40%;
   height: 40%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.slider
{
    border: 5px solid black;
    border-radius: 25px;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides
{
 width: 400%;
 height: 400px;
 display: flex;
}
.slides input
{
   display: none; 
}

.slide
{
   width: 25%;
   position: relative;
}
.slide img
{
   width: 800px;
}

.manual-btn:not(:last-child)
{
    margin-right: 40px;
}
.manual-btn:hover
{
   background-color: white;
}
#radio1:checked ~ .first
{
   margin-left: 0;
}
#radio2:checked ~ .first
{
   margin-left: -25%;
}
#radio3:checked ~ .first
{
   margin-left: -50%;
}

#radio1:checked ~ .nav-auto .auto-btn1
{
   background-color: white;
}
#radio2:checked ~ .nav-auto .auto-btn2
{
   background-color: white;
}
#radio3:checked ~ .nav-auto .auto-btn3
{
   background-color: white;
}
/* aki termina o banner */


/* aki comeca os blocos do lado do banner na pagina inicial */


ul#doces
{width: 700px;
margin: 0, auto;
padding: 2.5% 0% 0% 4%;
overflow: hidden;
list-style: none;}

ul#doces li
{float: left;
width: 200px;
height: 200px;
margin: 10px;
border: 5px solid #ffffff;
background-color: #ffffff;
box-shadow: 2px 2px 5px #84d627;
-webkit-transition: all 0.3s ease-in;}

ul#doces li span
{opacity: 0;
color: #ffffff;
text-shadow: 1px 1px 1px #84d627;
background-color: rgba(0,0,0,0.3);
font-size: 9pt;
line-height: 330px;
padding: 5px;}

ul#doces li:hover
{-webkit-transform: scale(1.5);}

ul#doces li:hover span
{opacity: 1;}

#banner3blocos
{display: flex;}

ul#doces li#foto01
{background: url('../SUGESTAO/img01.jfif') no-repeat;
background-position: 50% 50%;
background-size: 400px 400px;
background-color: #ffffff;}

ul#doces li#foto01:hover
{background-position: 0px 0px;
background-size: 200px 200px;}

ul#doces li#foto02
{background: url('../SUGESTAO/img02.jfif') no-repeat;
background-position: 50% 50%;
background-size: 400px 400px;
background-color: #ffffff;}

ul#doces li#foto02:hover
{background-position: 0px 0px;
background-size: 200px 200px;}

ul#doces li#foto03
{background: url('../SUGESTAO/img03.jfif') no-repeat;
background-position: 50% 50%;
background-size: 400px 400px;
background-color: #ffffff;}

ul#doces li#foto03:hover
{background-position: 0px 0px;
background-size: 200px 200px;}

ul#doces li#foto04
{background: url('../SUGESTAO/img04.jfif') no-repeat;
background-position: 50% 50%;
background-size: 400px 400px;
background-color: #ffffff;}

ul#doces li#foto04:hover
{background-position: 0px 0px;
background-size: 200px 200px;}

ul#doces li#foto05
{background: url('../SUGESTAO/img05.jfif') no-repeat;
background-position: 50% 50%;
background-size: 400px 400px;
background-color: #ffffff;}

ul#doces li#foto05:hover
{background-position: 0px 0px;
background-size: 200px 200px;}

ul#doces li#foto06
{background: url('../SUGESTAO/img06.jfif') no-repeat;
background-position: 50% 50%;
background-size: 400px 400px;
background-color: #ffffff;}

ul#doces li#foto06:hover
{background-position: 0px 0px;
background-size: 200px 200px;}

/* aki termina os blocos do lado do banner na pagina inicial */


/* aki começa o card */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 15px solid rgb(201, 15, 201);
    background-color: rgb(126, 70, 18);
    overflow: auto;
   
}

.flex-container>div {
    background-color: #946ad8be;
    width: 300px;
    margin: 15px;
    padding: 3px;
    text-align: center;
    line-height: auto;
    font-size: 30px;
    border-radius: 25px;
}

.Bordas {
    border-radius: 25px;
}

#grad1 {
    background-color: red; /* For browsers that do not support gradients */
    background-image: radial-gradient(circle, red, orange, yellow, green, blue, indigo, violet);
}

.zoom:hover {
    -webkit-transform: scale(1.4);
    background-position: 50% 50%;
    background-size: 400px 400px;
    /* background-color: #ffffff;} */
}

/* as gotas dos cards comeca aki */
img#a {
    margin-left: -150px;
    margin-top: 0px;
    width: 15%;
    height: 30%;
    position: absolute;
}

img#b {
    margin-left: -120px;
    margin-top: 0px;
    width: 15%;
    height: 30%;
    position: absolute;
}

img#c {
    margin-left: -150px;
    margin-top: 0px;
    width: 15%;
    height: 30%;
    position: absolute;
}

img#d {
    margin-left: -230px;
    margin-top: 0px;
    width: 15%;
    height: 30%;
    position: absolute;
}

img#e {
    margin-left: -220px;
    margin-top: 0px;
    width: 15%;
    height: 30%;
    position: absolute;
}

img#f {
    margin-left: -190px;
    margin-top: 0px;
    width: 15%;
    height: 30%;
    position: absolute;
}

img#g {
    margin-left: -130px;
    margin-top: 0px;
    width: 15%;
    height: 30%;
    position: absolute;
}

img#h {
    margin-left: -210px;
    margin-top: 0px;
    width: 15%;
    height: 30%;
    position: absolute;
}

img#i {
    margin-left: -200px;
    margin-top: 0px;
    width: 15%;
    height: 30%;
    position: absolute;
}
/* as gotas dos cards termina aki */

/* Adicionando interecao de compra e retirada do produto */
.buttons {
    position: flex;
    padding: -20px;
    margin: 10px;
    width: fit-content;
    }
    
    .botao{
        left: 10px;
        width: 40px;
        position: relative;
    }

    .carrinho{
        border-style: dashed;
        background-color: #00FF47;
        height: 1px;
        width: 20px;
        margin: 1px;
    }

/* aki termina o card */

