/*aqui comeca o cabcalho*/
.cabecalho {
    background-color: #333;
    border-bottom: solid 5px #84d627;
    height: 80px;
    box-sizing: content-box;
    position: sticky;
    top: 0px
}

h1.logo {
    color: white;
    display: inline-block;
    margin: 20px 50px;
}

.spell {
    color: black;
    background-color: #84d627;
    border-radius: 3px;
    display: block;
    width: auto;
    display: block;
    width: 40%;
    float: right;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    margin-left: 5%;
}

.cabecalho a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 15px;
}

.autenticacao {
    float: right;
    height: 80px;
    padding: 25px;
}

/* aki comeca os botoes do cabecalho */
.menu li {
    display: inline-block;
    margin: 3px;
}

img#inicio {
    margin-left: -7px;
    margin-top: 5px;
    height: 80%;
}

img#produtos {
    margin-left: -7px;
    margin-top: 5px;
    height: 80%;
}

img#sobreAEmpresa {
    margin-left: -7px;
    margin-top: 5px;
    height: 80%;
}

img#contato {
    margin-left: -7px;
    margin-top: 5px;
    height: 80%;
}

.menu a:hover {
    background-color: #84d627;
    transition: background-color 1s;
}

.menu a:active {
    background-image: url("imagens/chocolate2.png");
}

.registrar {
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
    background-color: red;
    color: white;
}

/* aki termina os botoes do cabecalho */

/*ate termina o cabeçalho*/

img {
    height: 100%;
    position: absolute;
    top: 0px;
}


/*estilo texto em geral comeca aki*/
h1 {
    color: #84d627;
    font-size: 25pt;
    margin: 1% 0px 0px 12%;
}

h2 {
    color: #84d627;
    font-size: 15pt;
    margin: 5% 0% 0px 12%;
}

h3.colaboradores {
    color: #84d627;
    font-size: 20pt;
    margin: 3% auto 50px 66%;
}

p {
    background-color: #4d2411;
    padding: 10px;
    border: 5px solid #160803;
    box-shadow: 10px 1px 5px 4px #84d627;
    text-align: justify;
    color: white;
    margin: 10%;
    text-indent: 20px;
}

p.colaboradores {
    margin: 0px 30px;
}

/*estilo texto em geral termina aki*/

/* div.bloco-texto{         se eu ativar essa div mesmo sem estilizacao da prblema nao sei pq
    
} */

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    background-color: rgb(88, 53, 42);
}

section#corpo {
    display: block;
    width: 60%;
    float: left;
    border-right: 1px solid #606060;
}


/* tabela comeca aki */
table#tabela {
    border: 1px solid #20100b;
    border-spacing: 5px;
    margin-left: 65%;
}

table#tabela td {
    border: 1px solid #20100b;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#tabela td.ce {
    color: #ffffff;
    background-color: #6c3217;
}

table#tabela td.cd {
    background-color: #945c31;
}

/* tabela termina aki */

/* rodape comeca aki */
footer#rodape {
    clear: both;
   /*border-top: 1px solid #606060; achei visualmente mais bonito sem essa borda */ 
}

footer#rodape p {
    text-align: center;
}

p.rodape {
    background-color: rgb(88, 53, 42);
    box-shadow: none;
    border: none
}

/*Tirei o sublinhado do link, e coloquei uma corzinha*/
#rodape a{
    text-decoration: none;
    color: #84d627;
}

/* rodape termina aki */





/*Aqui começa o Formulário*/


/*Centralização do meu formulário*/
.containerForm {
    /*Distancia lateral*/
    margin-left: 10%;
    /*Distancia do topo*/
    margin-top: 40px;
    /*Cor de fundo*/
    background-color: #333333;
    /*Deixando o contato e o form alinhado*/
    display: flex;
    /*Tamanho horizoltal do container*/
    width: 1200px;
    /*Tamanho vertical*/
    height: 550px;
    /*arredondando a borda*/
    border-radius: 70px;
    /*Fonte*/
    font-family: 'Noto Sans Mono', monospace;
    /*Sombra lateral braba*/
    box-shadow: 6px 6px 6px black;
}

/*Tamanho do meu box esquerdo*/
.contato {
    /*Distancia do topo do conteiner*/
    margin-top: 10px;
    /*Distancia lateral*/
    margin-left: 2.5%;
    /*Largura da box*/
    width: 600px;
}

/*Tamanho do meu box direito*/
.form {
    /*Distancia do topo do conteiner*/
    margin-top: 10px;
    /*Distancia lateral*/
    margin-left: 12%;
    /*Largura da box*/
    width: 600px;
}

/*Tamanho do h1*/
.form h1 {
    margin-left: 1px;
    font-size: 35px;
}

/*Tamanho e distanciamento do h1*/
.contato h1{
    margin-left: 10px;
    font-size: 35px;
    margin-bottom: 10px;
}

/*Tamanho e distanciamento do h2*/
.contato h2{
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 20px;
}

/*Tamanho da fonte do endereço*/
#endereço{
    
    font-size: 20px;
}

/*Tamanho do link para contato*/
.contato a{
    font-size: 20px;
}




/*Estilização da label*/
label {
    /*Tamanho vertical*/
    height: 30px;
    /*distancia das minhas labels*/
    margin-top: 20px;
    /*Disply para as labels ficarem na vertical*/
    display: flex;
    /*Tamanho da fonte*/
    font-size: 17px;
}


/*Estilizando input e textarea*/
input,
textarea {
    background-color: transparent;
    /*borda*/
    border: 2px solid black;
    /*tirando a borda de cima e da esquerda*/
    border-top: none;
    border-left: none;
    /*Tamanho*/
    width: 380px;
    padding: 12px;
}

/*Cor do placeholder*/
input::placeholder {
    /*Tamanho do placeholder*/
    font-size: 15px;
    /*Cor*/
    color: rgba(245, 245, 245, 0.500);
}

/*Cor do placeholder*/
textarea::placeholder {
    /*Tamanho do placeholder*/
    font-size: 15px;
    /*Cor*/
    color: rgba(245, 245, 245, 0.500);
}

/*Cor e tamanho do botão*/
button {
    /*Cor da fonte*/
    color: #84d627;
    /*Cor de fundo*/
    background-color: black;
    /*Distancia do topo*/
    margin-top: 10px;
    /*Tamanho*/
    height: 30px;
    width: 60px;
}


/*Tirando sublinhado do link do contato*/
.contato a {
    text-decoration: none;
    color: black;
}


button:hover {
    background-color: rgb(12, 12, 12);
}


/* Tamanho e localização da imagem*/
.contato img {
    position: static;
    margin-left: 150px;
    height: 300px;
    width: 410px;
}

.contato address {
    font-size: 18px;
}

/*Aqui termina o Formulário*/





/* #ffa600 cor do pornhub pra mudar a cor do cabecalho caso meu gurpo aceite*/
